

<div class="container">
  <div class="col-xs-12 ">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" ngModel
        name="email"
        required
        email>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control"
        ngModel
        name="password"
        >
      </div>
      <div>
        <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid"> {{isLoginMode ? 'Login' : 'Sign Up' }} </button>
        <button class="btn btn-primary" (click)="onSwitchMode()" type=button >Switch to {{isLoginMode ? 'Login' : 'Sign Up' }}</button>
      </div>

    </form>
  </div>


</div>


