<div class="container">
    <h1>User Login Form</h1>
    <form #CreateUser="ngForm" (ngSubmit)="onSubmit(CreateUser)">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username"
        required ngModel>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" name="password"ngModel>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>
