<h1>Sign up account</h1>


<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username"
    required ngModel>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" name="password"ngModel>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>

</form>

<br>

<table>
  <tr *ngFor="let user of listofUser">
    <td>{{user.id}}</td>
    <td>{{user.username}}</td>
    <td><button type="submit" (click)="deleteAUser(user.id)">delete</button></td>
  </tr>
</table>
